
* {margin:0;border:0;box-sizing:border-box;}
body {font-family: Verdana;padding: 10px;background: linen}
header {padding:30px;text-align: center;color:#1995B7;background: linen}
header h1 {width: 90%;font-size: 40px}
header img{width: 10%;height: 80px;float:left;box-shadow: 5px 3px 5px #ff8000;border-radius:100%}



/*------Menu de navegacion*/
.cabeza {margin-left: 20%;width: 60%;font-family: Arial, Helvetica, sans-serif;}
ul {list-style:none;}
.topnav > li {float:left;background-color: #06b3ca;font-size:18px;}
.topnav li a {background-color: #06b3ca;color: #fff;text-decoration: none;padding: 10px 12px;display: block;}
.topnav li a:hover {background-color: #434343;}
.topnav li ul {display:none;position:absolute;min-width:140px;}
.topnav li:hover > ul {display:block;}
.topnav li ul li {position: relative;font-size:12px;}
.topnav .salida {float:right}
h2 {text-align: center;font-family: verdana;padding: 40px 0px;height: 60px;width: 100%}



/*------PAGINA DE INICIO menu-------------------------------------------------------------------*/
.titulo {width:100%;margin-top:50px;text-align: center;font-family: verdana;font-size: 24px;color: black;height: 60px;padding: 40px 0px}
.articles {width: 80%;margin: auto;padding: 25px 10px;/*float:left;*/box-shadow: 0px 2px 5px #a1a1a1}
.datos {width: 39.99999999%;overflow: scroll;float:none;height: 450px}
.informacion {width: 100%;background: #eee;color:#000;display: table}
.col1 {width: 33%;font-family: sans-serif;float: left;margin: 2px;padding: 20px}
.col2 {width: 31%;font-family: sans-serif;float: left;margin: 1px;padding: 20px}
.col3 {width: 33%;font-family: sans-serif;float: left;margin: 2px;padding: 20px}
.par {font-family:sans-serif;font-size:18px}

/*_______PAGINA GRAFICAS ___________________________*/
/*.graficas {width: 98%;display: row;margin: 20px;background-color:silver}*/

.graficon {display: grid;outline:2px solid #1d64a6;width: 100%;max-width: 1500px;height:800px;margin: 30px auto;grid-template-columns: 48% 48%;grid-template-rows: 48% 48%;gap: 20px;background:#000;justify-content: center;align-content:center;}
.celda {outline:30px solid #ecd8ac;padding: 20px;}
.celda img {width: 90%;height:90%;}
.celda img:hover {margin-left:5%;margin-top:3%;box-shadow:3px 0px 20px 20px #000000;}
.celda1 {grid-column:1;grid-row:1;background:#ecd8ac;}
.celda2 {grid-column:2;grid-row:1;background:#ecd8ac;}
.celda3 {grid-column:1;grid-row:2;background:#ecd8ac;}
.celda4 {grid-column:2;grid-row:2;background:#ecd8ac;}


/*img {box-shadow: 2px 5px 10px black}*/

/*------------------------------ TABLA -----------------------------------------*/
/*Para poner el borde a las celdas de la tabla y centrar el texto por que se alienea a la izquierda por default*/
.consul_datos {clear: both;text-align: center;display:block;background-color: lightblue;font-size: 18;}
.tabladatos {clear: both;display: table;width:60%;margin:auto}
table {border: 1px solid black;border-collapse: collapse;text-align: center;width:100%;background-color: white;padding: 10px;margin:15px;box-shadow: 10px 5px 0px #777777}
caption {padding: 5px;background-color: white;font-size:24px;font-weight: bolder}
caption, tr, td {border: 1px solid black;border-collapse: collapse;}
table tr:nth-child(even) { background-color: #eee;}
table tr:nth-child(odd) { background-color: #fff;}

/*--------------------------------------------------------*/
.consul_info {text-align: center;font-size: 24px;background-color: lightblue;}

/*------------------------------------------------------*/
footer {clear:both;position:fixed;bottom:0;width:100%;background:#000;color:#fff;text-align:center;font-size:9px;font-family: Verdana}

/*------------------FORMULARIO DE COMENTARIOS-------------------------------------------*/
.formulario {clear: both;width: 500px;max-width: 100%;margin: auto;margin-top: 0px;padding: 20px;box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);position: relative}
.formulario__titulo {text-align: center;margin-top: 30px;color: rgba(0,0,0,0.7)}
.formulario__input, .formulario__label, .formulario__submit {display: block;width: 100%;font-size: 18px}
.formulario__input {padding: 20px;background: rgba(250, 240, 230,0.6); /*Se puede poner tambien "transparent"*/ border: 1px solid rgba(0,0,0,0.3);margin-bottom: 40px}
.formulario__input:focus {outline: 2px solid rgba(255,170,187,1)}
.formulario__input:focus + .formulario__label {margin-top: -135px}
.formulario__label {padding-left: 15px;position: absolute;margin-top: -85px;z-index: -20;color: rgba(0,0,255,1);transition: all 0.5s}
.submit {font-size: 1.3em;color: #505050;padding: 10px 20px;cursor: pointer;background: #8fabc6;margin-bottom: 40px}
.fijar {margin-top: -120px}
/*_____________________________________________________________________________________________*/
.min {background: green;color: white;}
.max {background: red;color: yellow;}

